*{
    margin:0;
    padding:0;
}
body{
    font-family: Comfortaa;
    background-color: rgba(39, 11, 26, 0.774);
}
h1{
    color: rgba(136, 204, 42, 0.876);
    background-color: rgba(241, 80, 147, 0.612);
    font-size: 3rem;
    text-align: center;
    padding-top: 2rem;    
}
h2{
    color: rgba(202, 233, 158, 0.527);
    background-color: rgba(241, 80, 147, 0.612);
    font-size: 1.7rem;
    text-align: center;
    padding-bottom: 1rem;
}
header{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100vw;
}
#header-img {
    height: 200px;
    background-image: url(images/lesmontsDragontweak2.jpg);
    background-size: 20%;
    background-repeat: repeat;
}
.bauchbinde{
    background-image: url(images/lesmontsDragontweak2.jpg);
    height: 3rem;
    background-size: 10%;
}
#beetle{
    display: flex;
    height:12rem;
    align-items: center;
    justify-content: center;
}
.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
}
p{
    padding-top: 2rem;
    padding-left: 1rem;
    text-align: left;
    color: rgba(202, 233, 158, 0.842);
    line-height: 20px;

}
#teil3{
    padding-right: 1rem;
}
#symbol{
    font-size: 33px;
    padding:5rem;
    border-radius: 50%;
    margin-top: 7rem;
    width: 3rem;
}
#symbol-box{
    display: grid;
}
span{
   display: grid;
   justify-content: center;
   color: rgba(136, 204, 42, 0.876);
   background-color: rgba(207, 147, 172, 0.137);
   grid-column-start: 2;
   padding-right: 2rem;
}
#snake-box{
display: flex;
height: 15rem;
justify-content: center;
align-items: center;
flex-direction: column;
}
#home{
    border-radius: 50%;
}
#home-box{
display: flex;
height: 10rem;
justify-content: center;
align-items: center;
}
#tweak{
    width: 100%;
}
h3{
    color: rgba(112, 168, 32, 0.876);
    text-shadow: 1px 2px black;
    padding-top:2rem;
    padding-bottom: 1rem;
}
.textarea{
    display: flex;
    height: 20rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(222, 236, 202, 0.876);
}
#txt-innen{
    text-align: center;
    padding: 0;
}
#oben-txt{
    font-size: .8rem;
    padding-top: 0;
}
#message{
    color: rgba(39, 11, 26, 0.774);
    padding-bottom: 1rem;
}
#nachricht-txt{
padding: .5rem 3rem;
}
input{
   padding: .3rem 3rem;
   margin-bottom: 1.5rem; 
}
#impressum{
    display: grid;
    padding-bottom: 1rem;
justify-content: center;
}
#imp-txt{
    line-height: 1.1rem;
    letter-spacing: 1px;
}
#homebutton-box{
    display: flex;
    justify-content: center;
}
#homebutton{
    border-radius: 50%;
}
#main{
    height: 25rem;
}
#imp-txt{
padding: 0%;
    background-color: rgba(241, 80, 147, 0.109);
    border-radius: 50%;
    padding: 7rem;

}
#kreis-box{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 5rem;
}
#autorin-box{
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
#autorin{
    text-align: right;
    padding-right: 1rem;
    font-size: .8rem;
}
button{
    height: 2rem;
    width: 5rem;
    color: rgba(60, 92, 16, 0.876);
}
button:hover{
    background-color: rgba(0, 255, 157, 0.774);
}
@media (max-width: 900px) {
    .grid-container{
        grid-template-columns: auto;
        padding-right: 1rem;
    }
}