*{
    margin: 0;
    padding: 0;
}
.abel{
font-family: 'Abel', sans-serif;}

.comfortaa{
    font-family: 'Comfortaa', cursive;}

.dancing{
    font-family: 'Dancing Script', cursive;}

.montserrat, h1{
    font-family: 'Montserrat', sans-serif;}

.urbanist{
    font-family: 'Urbanist', sans-serif;}